<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofast.system.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sofast.system.entity.Resource">
    <result column="id" property="id" />
    <result column="versions" property="versions" />
    <result column="description" property="description" />
    <result column="delete_flag" property="deleteFlag" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="permission" property="permission" />
        <result column="orders" property="orders" />
        <result column="icon" property="icon" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        versions,
        description,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        name,
        url,
        type,
        permission,
        orders,
        icon,
        parent_id
    </sql>

    <!-- 通用查询带t结果列 -->
    <sql id="Base_table_Column_List">
        t.id,
        t.versions,
        t.description,
        t.delete_flag,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.name,
        t.url,
        t.type,
        t.permission,
        t.orders,
        t.icon,
        t.parent_id
    </sql>

    <!--根据用户ID获取资源列表-->
    <select id="selectListByUserId" resultType="com.sofast.system.entity.Resource">
        select <include refid="Base_Column_List"/>
        from t_system_resource where id in (
            select resource_id from t_system_role_resource where role_id in (
                select role_id from t_system_user_role where user_id = #{userId}
            )
        )
    </select>

</mapper>
